
/* PAGE */
.wrap-header, .wrap-footer {
    background-color: white;
    color: black;
}


/* Not home page */
.page {
    .wrap-main {
        background-color: $ai-turquoise;
        .site-content {
            background-color: white;
        }
    }
    h1, h2, h3 {
        color: $ai-turquoise;
        display: bold;
        span {
            display: block;
        }
    }
    h1, h2 {
        text-align: center;

    }
    article {
        padding: spacer(0.5);
        img {
            width: 100%;
        }
        .entry-header span {
            color : red;
        }
    }
}


@media (min-width:640px) {
    .site-content {
        padding: 20px;

    }
    article {
        padding: spacer()
    }
}