// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

// Width of the overall site as well as the left and right content columns
$width-site:    900px;
$width-left:    900px;
$width-right:   0px;

// Breakpoints
$break-small:   480px;
$break-medium:  620px;
$break-large:   800px;

// A standard margin
$spacer:        30px;

$ai-green: #0c9ba6;
$ai-blue: #e4f9fe;
$ai-turquoise: #a4eedf;
$ai-red: #ff0000;

// A modest palette; see `_library.scss` for the color() function
$_color: (
  text: #333,
  link: white,
  link-muted: #eee,
  body-background: white
);


// Metadata; use metadata() to access
$_metadata: (
  theme-name:               "AsylumInfo"
, theme-uri:                "https://github.com/synapticism/wordpress-gulp-starter-kit"
, theme-author:             "Simon Hampton"
, theme-author-uri:         "http://simonh1000.github.io/"
, theme-description:        "www.asylum.info"
, theme-version:            "0.5.0"
, theme-license:            "GPLv3"
, theme-license-uri:        "http://www.gnu.org/licenses/gpl.txt"
, theme-tags:               (light, responsive-layout, right-sidebar, starter-theme, two-columns, translation-ready, white)
, theme-text-domain:        "asyluminfo"
// , theme-text-domain-path:   "/languages/"
, details-uri:              "build/styles.css"
);

// Simon
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
