
.fp-navigation {
    width: 50%;
    float: left;
    max-height: 50vh;
    font-size: 24px;
    h4 {
        text-align: center;
        color: $ai-green;
        font-weight: bold;
        span {
            display: block;
        }
    }
    img {
        display: block;
        margin: 0 auto;
        max-height: 150px;
    }
    span {
        color: red;
    }
}

.home {
    .wrap-main {
        background-color: $ai-blue;
    }
}
h3.accordion-title {
    font-weight: bold;
}