h1.site-title {
    img {
        max-height: 100px;
        display: block;
        margin: 0 auto;
    }
}
h2.site-description {
    text-align: center;
    color: $ai-green;
    font-size: 16px;
    font-weight: bold;
}

.site-title {
    span {
        color: red;
    }
}