// ==== MENUS ==== //

// Inline menu; used in header and footer navigation
.menu-inline {
  @extend %clearfix;
  &, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & > li {
      float: left;
      margin-right: spacer(1/2);
      img {
          max-height: 2em;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
    > li > ul {
      @extend %hide; // Hide submenus for the sake of simplicity; obviously you'd want to remove this when you apply your own styling
    }
  }
}

// Menu toggle for mobile phones and small screens
#responsive-menu-toggle {
  @include media-above($break-medium) {
    display: none;
  }
}


.menu-container {
    li {
        background-repeat: no-repeat;
        background-size: 20px;
        padding-left: 20px;
        &.arriving {
            background-image: url('imgs/fp_arriving.png');
        }
        &.asylum {
            background-image: url('imgs/fp_asylum.png');
        }
        &.living {
            background-image: url('imgs/fp_living.png');
        }
        &.volunteer {
            background-image: url('imgs/fp_volunteer.png');
        }

        a {
            color: $ai-turquoise;
            display: hidden;
        }
        span {
            text-transform: uppercase;
            display: initial;
        }

        &.current-menu-item span {
            color: $ai-red;
        }
    }
}

@media (min-width: $break-medium) {
    .wrap-navbar {
        border-top: 5px solid $ai-turquoise;
        padding: 15px;
    }
}
